---
import Prose from "../Prose.astro";
import SideScroll from "./SideScroll.astro";

import { getEntry } from "astro:content";
const entry = await getEntry("placeholder", "first");
const { Content, headings } = await entry.render();


export interface Props {
	title?: string;
  subtitle? : string;
  image? : string | any; 
}

const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---
<!-- class="bg-gradient-to-r from-slate-800 to-slate-600" -->
  <div class="bg-black">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>
          <h3>Lets <span></span></h3>
        </div>
      </div>
    </div>
    <!-- <SideScroll /> -->
  </div>
  
  <script>
    import { gsap } from "gsap";
    import { TextPlugin } from "gsap/TextPlugin";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
      
    gsap.registerPlugin(ScrollTrigger);
    gsap.registerPlugin(TextPlugin);

    const tl = gsap.timeline({repeat:-1, repeatDelay:1, yoyo:true});
    tl.to("h3 span", {duration: 2, text:" make some music."})
    tl.to("h3 span", {duration: 2, text:" go crazy"})
    tl.to("h3 span", {duration: 2, text:" stay together."})
    tl.to("h3 span", {duration: 2, text:" dance."})
    tl.to("h3 span", {duration: 2, text:" live it up."})
    tl.to("h3 span", {duration: 2, text:" talk about love."})
  </script>