---
import Navigation from './Navigation.astro';
import heroImage from '../../util/miniHero5.png';



---

<div class="flex flex-col w-full h-screen bg-cover bg-center" style={{backgroundImage: 'url(' + heroImage.src + ')'}}>
    <Navigation />
</div>
