---
import Navigation from '../widgets/Navigation.astro'
import { Image } from 'astro:assets';
import heroImage from '../../util/miniHero5.png'
import SideScroll from '../widgets/SideScroll.astro'


export interface Props {
	title?: string;
  subtitle? : string;
  image? : string | any; 
}

const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---
<!-- class="bg-gradient-to-r from-slate-800 to-slate-600" -->
  <div class="bg-black">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>
          <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
          <button class="btn ">Get Started</button>
        </div>
      </div>
    </div>
  </div>
  