---

---
<div class="separator"></div>    
  
  <style>
  .separator {
    background-color: red;
    height: 10vh; /* Adjust height as needed */
    width: 100%; /* Adjust width as needed */
  }
  </style>