---
// import { getCollection } from 'astro:content';
// const placeholders = await getCollection('placeholder');
import { getEntry } from "astro:content";
import Prose from "../../components/Prose.astro";
import LineDrawEffect from "./lineDrawEffect.astro";
const entry = await getEntry("placeholder", "first");
const { Content, headings } = await entry.render();
---

<section class="sideScrollerContainer w-screen h-screen bg-green-400">
    <div class="w-[600%] h-full overscroll-none flex flex-nowrap">
        <div
            class="panel w-1/6 h-full bg-black flex justify-around items-center"
        >
            <Prose>
                <LineDrawEffect />
                <Content />
            </Prose>
        </div>
        <div
            class="panel w-1/6 h-full bg-yellow-400 flex justify-center items-center text-blue-400"
        >
            <div
                class="w-full h-full flex justify-center items-center text-white"
            >
                <!-- Insert Content Here -->

                <!-- Timeline START -->

                <!-- Timeline END -->
            </div>
        </div>
        <div
            class="panel w-1/6 h-full bg-blue-400 flex justify-center items-center text-blue-400"
        >
            Slide 3
        </div>
        <div
            class="panel w-1/6 h-full bg-orange-400 flex justify-center items-center text-blue-400"
        >
            Slide 4
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";

    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    let panels = gsap.utils.toArray(".panel");

    gsap.to(panels, {
        xPercent: -100 * (panels.length - 1),
        ease: "none",
        scrollTrigger: {
            trigger: ".sideScrollerContainer",
            pin: true,
            scrub: 1,
            snap: 1 / (panels.length - 1),
            // base vertical scrolling on how wide the container is so it feels more natural.
            end: "+=3500",
        },
    });
</script>
