---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/widgets/Navigation.astro'
import Hero2 from '../components/widgets/Hero2.astro'
import SideScroll from '../components/widgets/SideScroll.astro'
---
<Layout
	title='Main',
	description='the main page'
>
	<main>
		<Navigation />
		<Hero2 />
		<SideScroll />
	</main>

</Layout>